<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wiadomość ze strony WebCraft-STUDIO</title>
</head>
<body>
    <div class="container">
        <h1>Wiadomość ze strony WebCraft-STUDIO</h1>
        <p>Masz nową wiadomość od użytkownika: <strong>{{name}}</strong></p>

        <div class="contact_container">
            <p>Email: {{email}}</p>
            <p>Telefon kontaktowy: {{phone}}</p>
        </div>
        <hr><br>
        <h3>Temat: {{subject}}</h3>
        <p>{{message}}</p>
    </div>
</body>
</html>